{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<!--<?php include '../layout/col-left-co.php'; ?>-->
				<h2>Requête encore en cours <i class="icon-cog"></i></h2>
				<div class="liens span5 bords">
					<br/>
    				<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p
				</div>
			</div>
		</div>
	</div>
{% endblock fos_user_content %}