{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<form id="conforme" action="{{ path('membre_confirmation') }}" method="post">
		<input type="hidden" id="confirmation" name="confirmation" value="{{ 'registration.confirmed'|trans({'%username%': user.username}) }}"/>
		<input type="hidden" id="adresseRetour" name="adresseRetour" value="{{ adresse.position }}"/>
	</form>
	<script>document.getElementById('conforme').submit();</script>		

{% endblock fos_user_content %}