<style>
.menu li {
	display:inline-block;
	padding:0px 30px 0px 30px;
}
.menu li:hover {
	background:#CCCCCC;
}
</style>
<div class="menu" style="height:25px; padding:5px 20px 0px 20px; margin:0px; background:rgba(220,220,220,0.8);">
	<ul style="padding-left:30px;">
		<li>
			<a href="{{ path('accueil_homepage') }}">Accueil</a>
		</li>
		<li>
			<a href="{{ path('index_mur') }}">Mur</a>
		</li>
		<li>
			<a href="{{ path('accueil_bombage') }}">Bombage</a>
		</li>
	</ul>
</div>