{% extends "::base.html.twig" %}
{% block body %}
	<div id="entete">
		<h1 style="margin-left:20px">Espace Membre <i class="icon-star-empty"></i></h1>
		{% include 'UtilisateursBundle:Modules:utilisateurConnecte.html.twig' %}
	</div>
{% endblock %}