{% extends "::base.html.twig" %}
{% block body %}
	<div id="entete">
	<h1 style="margin-left:20px">Page d'accueil <i class="icon-home"></i></h1>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% include 'UtilisateursBundle:Modules:utilisateurConnecte.html.twig' %}
		{% else %}
			{% include 'UtilisateursBundle:Modules:utilisateurDeconnecte.html.twig' %}
		{% endif %}
	</div>
{% endblock %}