{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row">
    	<div id="entete" class="span12">
        	<!--<?php include '../layout/col-left-co.php'; ?>-->
        	<h2>Modifier le mot de passe <i class="icon-user"></i></h2>
        	<div class="span3">
        		{% include 'UtilisateursBundle:Modules:utilisateurConnecte.html.twig' %}
        	</div>
			<div class="liens span4 bords">
				<h4>Renseigner un nouveau mot de passe</h4>
				{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    				{{ form_widget(form) }}
					<br/>
					<div class="wrapper">
						<div class="parent">
							<input type="submit" class="bouton children" value="{{ 'change_password.submit'|trans }}" />
						</div>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
    </div>
</div>